<p id="notice"><%= notice %></p>

<a href="/sessions" data-method="delete">Logout</button></a>

<p>
  <strong>First name:</strong>
  <%= @users.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @users.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

  <div>
   <h3>My Friends</h3>
      <% @friends.each do |f| %>

        <%= f.first_name %>
        <%= f.last_name %>
        <form action="friends/<%= f.id %>" method="post"><%= hidden_field_tag :authenticity_token, form_authenticity_token %><input type="hidden" name="_method" value= "delete"></input><button type="submit" class="btn btn-default">UnFriend</button>
          </form><br>
      <% end%>
  </div>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @user.each do |u| %>
      <tr>
        <td><%= u.first_name %></td>
        <td><%= u.last_name %></td>
        <td>
          <form action="/friends/index" method="post"><%= hidden_field_tag :authenticity_token, form_authenticity_token %><input type="hidden" name="friend_id" value= "<%= u.id %>"></input><button type="submit" class="btn btn-default">Add Friend</button>
          </form></td>
       </tr>
      <% end %>
   </tbody>
  </table>
